
<mat-toolbar color="primary" class="apart">
  <mat-icon (click)="toggleSidebar()">menu</mat-icon>
  <span>My Address Book</span>
</mat-toolbar>

<mat-drawer-container autosize>

  <mat-drawer #myDrawer>
    <mat-list>
      <mat-list-item [routerLink]="['/add']" (click)="myDrawer.toggle()">
        <button mat-raised-button color="primary" style="width: 100px;">
        Add
        <span class="material-icons">person_add</span>
        </button>
      </mat-list-item>
      <mat-list-item [routerLink]="['/list']" (click)="myDrawer.toggle()">
        <button mat-raised-button color="primary" style="width: 100px;">
        List
        <span class="material-icons">list_alt</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="full-height">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
